<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="float-left font-weight-bold text-primary">Add New Equipment</h6>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-lg-8">
                <!-- Overflow Hidden -->
                <div class="card mb-12">
                    <div class="card-body">
                        <div class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control form-control-user"
                                        id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="col-sm-6">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control form-control-user"
                                        id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control form-control-user" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                            <div id="button-placeholder" class="float-right">
                                <button class="d-inline btn btn-primary">Save</button>
                                <button class="d-inline btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-12">
                    <div class="card-header">
                        <h5>Common Tasks</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>