<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="float-left font-weight-bold text-primary">Equipment List</h6>
    <a [routerLink]="['/equipment', 'add']" class="btn btn-success btn-circle btn-sm float-right">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <p-table [value]="equipments"  [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Code</th>
            <th>Model</th>
            <th>Brand</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equipment>
          <tr>
            <td>{{ equipment.Code }}</td>
            <td>{{ equipment.Model }}</td>
            <td>{{ equipment.Brand }}</td>
            <td><button pButton type="button" 
              icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(equipment)"></button></td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>