<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="float-left font-weight-bold text-primary">Equipment List</h6>
    <a [routerLink]="['/equipment', 'add']" class="btn btn-success btn-circle btn-sm float-right">
        <i class="fas fa-plus"></i>
      </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
          <thead>
            <tr>
              <th>Code</th>
              <th>Model</th>
              <th>Brand</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipment of equipments">
              <td>{{ equipment.Code }}</td>
              <td>{{ equipment.Model }}</td>
              <td>{{ equipment.Brand }}</td>
            </tr>
          </tbody>
          </table>
    </div>
  </div>
</div>