<div class="card-header py-3">
  <h6 class="float-left font-weight-bold text-primary">Add New Equipment</h6>
  <a [routerLink]="['/equipment', 'add']" class="btn btn-success btn-circle btn-sm float-right">
    <i class="fas fa-plus"></i>
  </a>
</div>
<div class="card-body">
  <div class="row">

    <div class="col-lg-8">

      <!-- Overflow Hidden -->
      <div class="card mb-7">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Overflow Hidden Utilty</h6>
        </div>
        <div class="card-body">
          Use <code>.o-hidden</code> to set the overflow property of any element to hidden.
        </div>
      </div>
    </div>
  </div>
</div>